//- modal for create application
form(method="post" action="")
  div(class="modal fade" id="createAppModal" tabindex="-1" aria-labelledby="createAppModalLabel" aria-hidden="true")
    div(class="modal-dialog modal-dialog-scrollable")
      div(class="modal-content")
          div(class="modal-header")
            h5(class="modal-title" id="createAppModalLabel")="Create Application"
            button(type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close")
          div(class="modal-body")
            div(class="container")
                label(for="createAppAcronym" class="form-label")="Application Acronym:"
                input#createAppAcronym(type="text" name="createAppAcronym" class="form-control" value=createAppAcronym)
                label(for="createAppDescription" class="form-label")="Application Description:"
                textarea#createAppDescription(rows="3" name="createAppDescription" class="form-control" value=createAppDescription)
                label(for="createAppDateStart" class="form-label")="Start Date:"
                input#createAppDateStart(type="date" name="createAppDateStart" class="form-control" value=createAppDateStart)
                label(for="createAppDateEnd" class="form-label")="End Date:"
                input#createAppDateEnd(type="date" name="createAppDateEnd" class="form-control" value=createAppDateEnd)
                hr
                label(for="createAppPermitOpen" class="form-label")="Grant 'Open' state permissions to these usergroups: (comma-delimited)"
                input#createAppPermitOpen(type="text" name="createAppPermitOpen" class="form-control" value=createAppPermitOpen)
                label(for="createAppPermitToDo" class="form-label")="Grant 'ToDo' state permissions to these usergroups: (comma-delimited)"
                input#createAppPermitToDo(type="text" name="createAppPermitToDo" class="form-control" value=createAppPermitToDo)
                label(for="createAppPermitDoing" class="form-label")="Grant 'Doing' state permissions to these usergroups: (comma-delimited)"
                input#createAppPermitDoing(type="text" name="createAppPermitDoing" class="form-control" value=createAppPermitDoing)
                label(for="createAppPermitDone" class="form-label")="Grant 'Done' state permissions to these usergroups: (comma-delimited)"
                input#createAppPermitDone(type="text" name="createAppPermitDone" class="form-control" value=createAppPermitDone)
          div(class="modal-footer")
            button(type="reset" class="btn btn-danger" data-bs-dismiss="modal")="Close And Discard"
            button(type="button" class="btn btn-secondary" data-bs-dismiss="modal")="Close"
            button(type="submit" class="btn btn-primary" name="btn_createApp" value=true)="Create Application"
