div(class="container")
  div(class="container-fluid py-2")
    h4(class="pb-2 text-decoration-underline")="Open"
    if errorOpen
      p(class="alert alert-danger")=errorOpen
    if infoOpen 
      p(class="alert alert-info")=infoOpen
    unless (errorOpen || infoOpen)
      div(class="d-flex flex-row flex-nowrap overflow-auto")
        if tasksOpen
          for open in tasksOpen
            div(class="card card-body" style="max-width: 300px;min-width: 300px;min-height: 100px;margin-right: 5px;")
              div(class="card-header ")=open.Task_id
              h5(class="card-title ")=open.Task_name
              div(class="card-text text-truncate")=open.Task_description
              hr
              div(class="card-text ")="Creator: " + open.Task_creator
              div(class="card-text ")="Owner: " + open.Task_owner
              div(class="card-text ")="Date Created: " + open.Task_createDate
              hr
              div(class="d-grid gap-2")
                button(class="btn btn-secondary mb-3" data-bs-toggle="modal" type="button" data-bs-target="#detailsTaskModal" data-bs-task=open.Task_id name="btn_detailsTask" value=open.Task_id)="Details..."
              if open.permitOpen
                form(method="post" action="")
                  div(class="row g-3 align-items-center")
                    div(class="col-8")
                      select(class="form-select" aria-label="Select action" name="taskAction")
                        option(value="taskAction_Open_ToDo")="Move to To-Do"
                    div(class="col-4")
                      button(type="submit" class="btn btn-primary" name="btn_taskAction" value=open.Task_id)="Apply"
            
  div(class="container-fluid py-2")
    h4(class="pb-2 text-decoration-underline")="To-Do"
    if errorToDo
      p(class="alert alert-danger")=errorToDo
    if infoToDo
      p(class="alert alert-info")=infoToDo
    unless (errorToDo || infoToDo)
      div(class="d-flex flex-row flex-nowrap overflow-auto")
        if tasksToDo
          for todo in tasksToDo
            div(class="card card-body" style="max-width: 300px;min-width: 300px;min-height: 100px;margin-right: 5px;")
              div(class="card-header ")=todo.Task_id
              h5(class="card-title ")=todo.Task_name
              div(class="card-text text-truncate")=todo.Task_description
              hr
              div(class="card-text ")="Creator: " + todo.Task_creator
              div(class="card-text ")="Owner: " + todo.Task_owner
              div(class="card-text ")="Date Created: " + todo.Task_createDate
              hr
              div(class="d-grid gap-2")
                button(class="btn btn-secondary mb-3" data-bs-toggle="modal" type="button" data-bs-target="#detailsTaskModal" data-bs-task=todo.Task_id name="btn_detailsTask" value=todo.Task_id)="Details..."
              if todo.permitToDo
                form(method="post" action="")
                  div(class="row g-3 align-items-center")
                    div(class="col-8")
                      select(class="form-select" aria-label="Select action" name="taskAction")
                        option(value="taskAction_ToDo_Doing")="Move to Doing"
                    div(class="col-4")
                      button(type="submit" class="btn btn-primary" name="btn_taskAction" value=todo.Task_id)="Apply"

  div(class="container-fluid py-2")
    h4(class="pb-2 text-decoration-underline")="Doing"
    if errorDoing
      p(class="alert alert-danger")=errorDoing
    if infoDoing
      p(class="alert alert-info")=infoDoing
    unless (errorDoing || infoDoing)
      div(class="d-flex flex-row flex-nowrap overflow-auto")
        if tasksDoing
          for doing in tasksDoing
            div(class="card card-body" style="max-width: 300px;min-width: 300px;min-height: 100px;margin-right: 5px;")
              div(class="card-header ")=doing.Task_id
              h5(class="card-title ")=doing.Task_name
              div(class="card-text text-truncate")=doing.Task_description
              hr
              div(class="card-text ")="Creator: " + doing.Task_creator
              div(class="card-text ")="Owner: " + doing.Task_owner
              div(class="card-text ")="Date Created: " + doing.Task_createDate
              hr
              div(class="d-grid gap-2")
                button(class="btn btn-secondary mb-3" data-bs-toggle="modal" type="button" data-bs-target="#detailsTaskModal" data-bs-task=doing.Task_id name="btn_detailsTask" value=doing.Task_id)="Details..."
              if doing.permitDoing
                form(method="post" action="")
                  div(class="row g-3 align-items-center")
                    div(class="col-8")
                      select(class="form-select" aria-label="Select action" name="taskAction")
                        option(value="taskAction_Doing_Done")="Move to Done"
                        option(value="taskAction_Doing_ToDo")="Move to To-Do"
                    div(class="col-4")
                      button(type="submit" class="btn btn-primary" name="btn_taskAction" value=doing.Task_id)="Apply"

  div(class="container-fluid py-2")
    h4(class="pb-2 text-decoration-underline")="Done"
    if errorDone
      p(class="alert alert-danger")=errorDone
    if infoDone
      p(class="alert alert-info")=infoDone
    unless (errorDone || infoDone)
      div(class="d-flex flex-row flex-nowrap overflow-auto")
        if tasksDone
          for done in tasksDone
            div(class="card card-body" style="max-width: 300px;min-width: 300px;min-height: 100px;margin-right: 5px;")
              div(class="card-header ")=done.Task_id
              h5(class="card-title ")=done.Task_name
              div(class="card-text text-truncate")=done.Task_description
              hr
              div(class="card-text ")="Creator: " + done.Task_creator
              div(class="card-text ")="Owner: " + done.Task_owner
              div(class="card-text ")="Date Created: " + done.Task_createDate
              hr
              div(class="d-grid gap-2")
                button(class="btn btn-secondary mb-3" data-bs-toggle="modal" type="button" data-bs-target="#detailsTaskModal" data-bs-task=done.Task_id name="btn_detailsTask" value=done.Task_id)="Details..."
              if done.permitDone
                form(method="post" action="")
                  div(class="row g-3 align-items-center")
                    div(class="col-8")
                      select(class="form-select" aria-label="Select action" name="taskAction")
                        option(value="taskAction_Done_Closed")="Move to Closed"
                        option(value="taskAction_Done_Doing")="Move to Doing"
                    div(class="col-4")
                      button(type="submit" class="btn btn-primary" name="btn_taskAction" value=done.Task_id)="Apply"

  div(class="container-fluid py-2")
    h4(class="pb-2 text-decoration-underline")="Closed"
    if errorClosed
      p(class="alert alert-danger")=errorClosed
    if infoClosed
      p(class="alert alert-info")=infoClosed
    unless (errorClosed || infoClosed)
      div(class="d-flex flex-row flex-nowrap overflow-auto")
        if tasksClosed
          for closed in tasksClosed
            div(class="card card-body" style="max-width: 300px;min-width: 300px;min-height: 100px;margin-right: 5px;")
              div(class="card-header ")=closed.Task_id
              h5(class="card-title ")=closed.Task_name
              div(class="card-text text-truncate")=closed.Task_description
              hr
              div(class="card-text ")="Creator: " + closed.Task_creator
              div(class="card-text ")="Owner: " + closed.Task_owner
              div(class="card-text ")="Date Created: " + closed.Task_createDate
              hr
              div(class="d-grid gap-2")
                button(class="btn btn-secondary mb-3" data-bs-toggle="modal" type="button" data-bs-target="#detailsTaskModal" data-bs-task=closed.Task_id name="btn_detailsTask" value=closed.Task_id)="Details..."