html
  head 
    title="Task Management System"
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous")
  body
    div(class="container")
      h2(class="pb-2 border-bottom")="Task Management System - View/Edit Applications"
        if isLoggedIn
            small 
              a(href="/logout")="Logout"

      if error
        p(class="alert alert-danger")=error

      if errorSpecial
        p(class="alert alert-danger")=errorSpecial

      if success
        p(class="alert alert-success")=success

      a(href="/tmsys")="Back to menu"
      hr

      if isSearching
        form(class="row g-3" method="get" action="")
          div(class="col-auto")
            input(type="text" class="form-control" name="app_acronym" placeholder="Search applications...")
          div(class="col-auto")
            button(type="submit" class="btn btn-primary mb-3")="Search"
          div(class="col-auto")="(By acronym; leave blank to search all)"
        if appList
          table(style="width:100%")
            for app in appList 
              tr
                form(method="post" action="")
                  td(style="border:1px solid black")
                    input(type="text", name="app_acronym", readonly, class="form-control-plaintext", value=app.App_Acronym) 
                  td(style="border:1px solid black")
                    textarea(row="6" name="app_description" readonly class="form-control-plaintext" value=app.App_Description)=app.App_Description
                  td(style="border:1px solid black")
                    input(type="date" name="app_startDate" readonly class="form-control-plaintext" value=app.App_startDate)
                  td(style="border:1px solid black")
                    input(type="date" name="app_endDate" readonly class="form-control-plaintext" value=app.App_endDate)
                  td(style="border:1px solid black")
                    input(type="text" name="app_permitOpen" readonly class="form-control-plaintext" value=app.App_permit_Open)
                  td(style="border:1px solid black")
                    input(type="text" name="app_permitToDo" readonly class="form-control-plaintext" value=app.App_permit_toDoList)
                  td(style="border:1px solid black")
                    input(type="text" name="app_permitDoing" readonly class="form-control-plaintext" value=app.App_permit_Doing)
                  td(style="border:1px solid black")
                    input(type="text" name="app_permitDone" readonly class="form-control-plaintext" value=app.App_permit_Done)
                  td(style="border:1px solid black") 
                    button(type="submit" class="btn btn-primary mb-3" name="btn_editThisApplication" value=true)="Edit"
                  td(style="border:1px solid black") 
                    button(class="btn btn-danger mb-3" data-bs-toggle="modal" type="button" data-bs-target="#deleteAppModal" data-bs-victim=app.App_Acronym name="btn_deleteThisApp" value=app.App_Acronym)="Delete"
                  include includes/modal_confirmAppDelete.pug
      if isEditingApplication
        div(class="row")
          a(href="/applications")="Back to search"
        form(method="post" action="")
          div(class="mb-3")
            label(for="editeeAcronym" class="col-sm-2 col-form-label")="Editing Application:"
            div(class="col-sm-3")
              input#editeeAcronym(type="text", name="App_Acronym", readonly, class="form-control-plaintext", value=App_Acronym)
          div(class="mb-3")
            label(for="editeeDescription" class="col-sm-2 col-form-label")="Application Description:"
          div(class="mb-6 col-sm-6")
            textarea(name="App_Description" class="d-none" value=App_Description readonly)=App_Description
            textarea#editeeDescription(rows="6" name="App_Description_new" class="form-control" value=App_Description)=App_Description
          div(class="mb-3")
            label(for="editeeDateStart" class="col-sm-2 col-form-label")="Start Date:"
            div(class="col-sm-2")
              input(type="date" name="App_startDate" class="d-none" value=App_startDate readonly)
              input#editeeDateStart(type="date" name="App_startDate_new" class="form-control" value=App_startDate)
          div(class="mb-3")
            label(for="editeeDateEnd" class="col-sm-2 col-form-label")="End Date:"
            div(class="col-sm-2")
              input(type="date" name="App_endDate" class="d-none" value=App_endDate readonly)
              input#editeeDateEnd(type="date" name="App_endDate_new" class="form-control" value=App_endDate)
          div(class="mb-3")
            label(for="editeePermitOpen" class="col-sm-2 col-form-label")="'Open' Permissions:"
            div(class="col-sm-5")
              input(type="text" name="App_permit_Open" class="d-none" value=App_permit_Open readonly)
              input#editeePermitOpen(type="text" name="App_permit_Open_new" class="form-control" value=App_permit_Open)
          div(class="mb-3")
            label(for="editeePermitToDo" class="col-sm-2 col-form-label")="'ToDo' Permissions:"
            div(class="col-sm-5")
              input(type="text" name="App_permit_toDoList" class="d-none" value=App_permit_toDoList readonly)
              input#editeePermitToDo(type="text" name="App_permit_toDoList_new" class="form-control" value=App_permit_toDoList)
          div(class="mb-3")
            label(for="editeePermitDoing" class="col-sm-2 col-form-label")="'Doing' Permissions:"
            div(class="col-sm-5")
              input(type="text" name="App_permit_Doing" class="d-none" value=App_permit_Doing readonly)
              input#editeePermitDoing(type="text" name="App_permit_Doing_new" class="form-control" value=App_permit_Doing)
          div(class="mb-3")
            label(for="editeePermitDone" class="col-sm-2 col-form-label")="'Done' Permissions:"
            div(class="col-sm-5")
              input(type="text" name="App_permit_Done" class="d-none" value=App_permit_Done readonly)
              input#editeePermitDone(type="text" name="App_permit_Done_new" class="form-control" value=App_permit_Done)
          div(class="mb-3")
            button(type="submit" class="btn btn-primary" name="btn_editApp" value=true)="Edit Application"
        div(class="row")
          a(href="/applications")="Back to search"

  script.
    var confirmDeleteAppModal = document.getElementById('deleteAppModal');
    confirmDeleteAppModal.addEventListener('show.bs.modal', function (event){
      //button that triggered modal
      var button = event.relatedTarget;
      //extract info from data-bs-* attribute
      var info = button.getAttribute('data-bs-victim');
      //update modal content
      var modalTitle = document.getElementById('deleteAppModalLabel');
      var modalBodyP = document.getElementById('deleteAppAcronymText');
      var btn_deleteApp = document.getElementById('btn_deleteApp');
      modalTitle.textContent = 'Delete Application ' + info;
      modalBodyP.textContent = info;
      btn_deleteApp.value = info;
    });