html
  head 
    title="Task Management System"
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous")
  body
    div(class="container")
      h2(class="pb-2 border-bottom")="Task Management System - Create Plan"

      if error
        p(class="alert alert-danger")=error

      if success
        p(class="alert alert-success")=success

      div(class="row")
        div(class="col")
          a(class="btn btn-link" href="/tmsys/frame_main")="Back to menu"
      hr
      if canAdmin
        form(method="post" action="")
          label(for="createAppAcronym" class="form-label")="Application Acronym:"
          input#createAppAcronym(type="text" name="createAppAcronym" class="form-control" )
          label(for="createAppNumber" class="form-label")="Application Running Number Start Value (min 1):"
          input#createAppNumber(type="number" name="createAppNumber" class="form-control" value="1" min="1")
          label(for="createAppDescription" class="form-label")="Application Description:"
          textarea#createAppDescription(rows="3" name="createAppDescription" class="form-control" )
          label(for="createAppDateStart" class="form-label")="Start Date:"
          input#createAppDateStart(type="date" name="createAppDateStart" class="form-control" )
          label(for="createAppDateEnd" class="form-label")="End Date:"
          input#createAppDateEnd(type="date" name="createAppDateEnd" class="form-control" )
          hr
          label(for="createAppPermitOpen" class="form-label")="Grant 'Open' state permissions to these usergroups: (comma-delimited)"
          input#createAppPermitOpen(type="text" name="createAppPermitOpen" class="form-control" )
          label(for="createAppPermitToDo" class="form-label")="Grant 'ToDo' state permissions to these usergroups: (comma-delimited)"
          input#createAppPermitToDo(type="text" name="createAppPermitToDo" class="form-control" )
          label(for="createAppPermitDoing" class="form-label")="Grant 'Doing' state permissions to these usergroups: (comma-delimited)"
          input#createAppPermitDoing(type="text" name="createAppPermitDoing" class="form-control" )
          label(for="createAppPermitDone" class="form-label")="Grant 'Done' state permissions to these usergroups: (comma-delimited)"
          input#createAppPermitDone(type="text" name="createAppPermitDone" class="form-control" )
          hr
          label(for="createAppPermitCreatePlan" class="form-label")="Grant 'Create Plan' permissions to these usergroups: (comma-delimited)"
          input#createAppPermitCreatePlan(type="text" name="createAppPermitCreatePlan" class="form-control" )
          label(for="createAppPermitCreateTask" class="form-label")="Grant 'Create Task' permissions to these usergroups: (comma-delimited)"
          input#createAppPermitCreateTask(type="text" name="createAppPermitCreateTask" class="form-control" )
          label(for="createAppPermitEditApp" class="form-label")="Grant 'Edit App' permissions to these usergroups: (comma-delimited)"
          input#createAppPermitEditApp(type="text" name="createAppPermitEditApp" class="form-control" )
          hr
          button(type="submit" class="btn btn-primary" name="btn_createApp" value=true)="Create Application"