html(style="height: -webkit-fill-available")
  head 
    title="Task Management System DEBUG"
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous")
    script(src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous")
  body
    script.
      var $jq = jQuery.noConflict();
      var btn_selectQuery;
      $jq( document ).ready(function() {
        console.log( "document loaded" );
        btn_selectQuery = $jq("#btn_AJAXPerformSelectQuery");
        if(btn_selectQuery.length){
          console.log("successfully attached #btn_AJAXPerformSelectQuery to var btn_selectQuery");
          console.log(btn_selectQuery.html());
          btn_selectQuery.click(function(){
              $jq.ajax({
                url: "debug",
                data: {
                  btn: "btn_AJAXPerformSelectQuery"
                },
                type: "GET",
                dataType: "json",
                cache: false
              })
              .done(function(json){
                console.log("btn_selectQuery clicked and the server returned some json");
                console.log(json);
              })
              .fail(function(xhr, status, errorThrown){
                alert( "Sorry, there was a problem!" );
                console.log( "Error: " + errorThrown );
                console.log( "Status: " + status );
                console.dir( xhr );
              })
              .always(function(xhr,status){
                alert( "The request is complete!" );
              });
          });
        }
      });
      $jq( window ).on( "load", function() {
          console.log( "window loaded" );
      });

    if error
      p(class="alert alert-danger")=error
    if success
      p(class="alert alert-success")=success
    h2(class="font-weight-light")="Experimenting with jQuery (AJAX)"
    div(class="container border")
      button#btn_AJAXPerformSelectQuery(type="button" class="btn btn-primary")="Perform Select Query"
    div(class="container border")
      form(method="get" action="")
        div(class="row")
          label(for="select-app" class="col-1 col-form-label")="Application:"
          div(class="col-2")
            select(id="select-app" class="form-select" aria-label="Select Application")
              option(selected value="(all)")="(All)"
              option(value="1")="One"
              option(value="2")="Two"
              option(value="3")="Three"
          label(for="select-plan" class="col-1 col-form-label")="Plan:"
          div(class="col-2")
            select(id="select-plan" class="form-select" aria-label="Select Plan")
              option(selected value="(all)")="(All)"
              option(value="1")="One"
              option(value="2")="Two"
              option(value="3")="Three"
          button(type="submit" class="btn btn-primary mb-3 col-1")="Filter"
